@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    font-family: 'Roboto' , sans-serif;
   
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition:.2s linear;
       


}

html{
  
  
    overflow-x:hidden;
    scroll-padding-top:9rem;
    scroll-behavior:smooth;
  }
  
  html::-webkit-scrollbar{
    width:.8rem;
  }
  
  html::-webkit-scrollbar-track{
    background:transparent;
  }
  
  html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
  }
  

  body {
    /*  background-color: beige; */
    background-color: rgb(255, 255, 255);
  }

  section{
    padding:2rem 10%;
    
  }



  .heading{
    text-align:center;
    color:rgb(0, 0, 0);
    text-transform:uppercase;
    padding-bottom:3.5rem;
    font-size:4rem;
}

.heading span{
    color:aquamarine;
    text-transform: uppercase;
}

.btn {
    margin-top:1rem;
    display:inline-block;
    padding:.9rem 3rem;
    font-size:1.7rem;
    color:rgb(0, 0, 0);
    background: #ffffff;
    cursor:pointer;
}






  .header {
  
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:1.5rem 7%;

    background:transparent;
  
  
    position:fixed;
    top:0; left:0; right:0;
    z-index:1000;
   
   


}


.header .search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border-bottom: 1px solid grey;
  float: left;
  width: 80%;
  background:transparent;
  font-family:'Dancing Script', 'Roboto', cursive;
}

.header .search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.header .search button:hover {
  background: #0b7dda;
}

.header .search::after {
  content: "";
  clear: both;
  display: table;
}


.header .logo .img{
  max-width:2px;
  
}

.header .navbar a{
  margin:0 1 rem;
  color: rgb(53, 118, 238);
  padding:1rem;
  position: relative;
  left:45%;
  font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
  font-size:1.3rem;
  
}



.header .navbar a:hover{
  color:#2dc2fd;

}

.header .icons a{
  color:#fff;
  font-size:2.5rem;
  margin-left:2rem;
}



.header .navbar .scroll {
  background-color: #ff0000;
  color:black;

}




.header .active {
  background-color: rgba(8, 43, 139, 0.8);
}



  .home{
      min-height: 100%;
      width:100%;
      color:rgb(248, 238, 210);
      
      position: absolute;
      top: 5%;
      right:0%;
      display:flex;
      align-items:center;
     
      background-color: white;
     background-size:cover;
     background-position: center; 
   

    }

        
    .home .content {
        margin-top:-1%;
        
        color:black;
       }
   
       .home h1{
        font-size:2.8rem;
        
       }
    
   
    .home .btn {
      border:1px solid rgb(199, 191, 191);
      border-radius:40px;
      margin-top:1rem;
      display:inline-block;
      padding:.9rem 3rem;
      
      font-size:1.4rem;
      color:white;
      background: #6fbeff;
      cursor:pointer;
    }
       
       .home .btn:hover{
        background-color: #6f93df;

       }
   
    .home .row .content   #hombtn2{
      margin-left:5%;
    }
   
    .home .row {
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      /* padding-top: 8.7%; */
  }

  .home .row .content{
      flex: 1 1 45rem;
     

  }

  .home .row .image{
      flex: 1 1 45rem;
      padding:2rem;
    
  }



   
.home .content h2{
             font-size:4rem;
            
             color:rgb(0, 0, 0);
             
          }
   
          
   
   .home .content p{
       font-size:1.5rem;
       font-weight:lighter;
       line-height:1.8;
       padding:1rem 0;
      
     }
     .home .row .images  {
   
     }
     .home .row .images img {
      height: 450px;
      width:550px;
      border-radius: 50%;
      margin-top:-5%;
      margin-left:5%;
      object-fit: cover;
      float:left;
     }

.about{
      position:absolute;
      top:115.8%;
      width:100%;
      background:white;
        min-height:100%;
  }

.about h1 {
  color:black;
  font-family:'Dancing Script', cursive;
}
  .about .row {
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      /* padding-top: 8.7%; */
  }

  .about .row .content{
      flex: 1 1 45rem;
     

  }

  .about .row .image{
      flex: 1 1 45rem;
      padding:2rem;
  }
  .about .row .image img{
   height:430px;
   width:640px;
   margin-left:-5%;
   border-radius:2%;

}


  .about .row .content h3{
      font-size:3rem;
      color:black;
  }
  

  .about .row .content p{
      font-size:1.6rem;
      color:black;
      padding:1rem 0;
      line-height:1.8;
  }

  .services{
    position: absolute;
    top:210.7%;
    background-color:white;
    width:100%;
    height:100%;
    border-top:.1rem solid #b5b8c483;
    background-attachment: fixed;
display: inline-block;
  }
 
.services .layer{

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  width:160%;
  position:relative;
  left:-15%;
top:-3.78%;
  height:107.67%;
  
  z-index:0;
}

  .services .box-container .btn{
    text-align: center;
    
  }
 
  
.services .box-container{
  display:flex;
  gap:1rem;
  position: relative;
 left:11%;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top:7rem;
}



.services .box-container .box p{
  font-size:1.0rem;
  color:rgb(255, 255, 255);
  margin-top: 1rem;
  

}


.services h1{
 color:rgb(0, 0, 0);
 position: relative;
 right:8%;
 font-family:'Dancing Script', cursive;
 -webkit-text-stroke-width: 0.13px;
 -webkit-text-stroke-color: black;
 top:7%;
 
}




.services .box-container .box img{
        
  height:26rem;
  width:29rem;
  object-fit:cover;
 
  /* border:4px solid rgb(68, 66, 66); */

}
.services  #img1{
        
  height:26rem;
  width:26rem;
  object-fit:cover;
 
  /* border:4px solid rgb(68, 66, 66); */

}


.services .box-container .box img:hover{
  cursor: pointer;
  transform: scale(0.9);
}

.services .box-container .box h2 {
  color:rgb(255, 255, 255);
  font-size:1.8rem;
  padding:2rem;
  margin-top:2rem;
 
}


.services .box-container .box h3 {
  color:rgb(0, 0, 0);
  font-size:1.8rem;
  padding:2rem;
  
}

.services .box-container .box p {
  color:rgb(0, 0, 0);
  font-size:1.8rem;
  padding:2rem;
  
}





.services .box-container .box .btn{
  color:rgb(255, 255, 255);
      background: #6fbeff;
      cursor:pointer;
      border-radius: 40px;
    }
       
    


.services .box-container .box .btn:hover{
 
  background-color:#333c8a; 

   
  }
  
  

.skill {
  position: absolute;
  top:320%;
  font-family:Arial, Helvetica, sans-serif;
 
 width: 100%;
}









.skill  h1{
  color:black;
  font-family:'Dancing Script', cursive;
}


.skill .content h2{
  font-size:2.6rem;
  color:rgb(0, 0, 0);
  margin-bottom: 4%;
  margin-left:15%;
  
  
 
}


.skill   .content p{


  color:black;
  padding:1rem 0;
 font-weight: 400;
  font-size:1.3rem;
  color:rgb(0, 0, 0);
  padding:1rem 0;
  line-height:1.7;
  
  text-align: left;
}

.skill   .content {

margin-top:-14%;
}



.skill #bars {
	margin: 2em auto;
	max-width: 960px;
	overflow: hidden;
  position: relative;

  margin-top:-40%;

}

.skill .bar {
position:relative;
float:left;

width: 30%;
height:10%;

	text-align: center;
  color: #0b7dda;
}

.skills {
position:relative;
top:-21%;

}

.skill #my-skill-set{

  font-size:3rem;
  margin-bottom:1%;
}
.skill .row {
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  /* padding-top: 8.7%; */
}

.skill .row .content{
  flex: 1 1 45rem;
 

}

.skill .row .image{
  flex: 1 1 45rem;
  padding:2rem;
  height:60%;
 width:80%;
}
.skill .row .image img{
 height:80%;
 width:80%;
 margin-left:15%;
 margin-top:15%;
 
}


.skill .bar h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}

.skill .bar-circle {
	display: block;
	margin: 0.7em auto;
  color: #2980b9;
}

.skill canvas{
  color: #0b7dda;
}
.contact{
  position: absolute;
  top:423.7%;
  background-color: #ffffff;
  width: 100%;
  

 
  /* background-image: url(images/white-abstract-background_23-2148806276.webp); */

}

/* .contact{
  background-color:white;
  background-size:cover;
  padding:40px 0;
  
} */

.contact h1{
  text-align: center;
  color:rgb(0, 0, 0);
  font-family:'Dancing Script', cursive;
}








.contact-form{
  max-width:600px;
margin-left: auto;
  padding:0 10px;
  overflow:hidden;
  padding-top: 5rem;
  
  
}


.contact .row .contact-form{
  flex: 1 1 45rem;
 

}

.contact .row .image{ 
  flex: 1 1 45rem;
  padding:2rem;
  

  

}

.contact .row .image img {

  height:520px;
width:520px;
object-fit:cover;
float:left;
}

.contact-form-text{
  display:block;
  width:100%;
  box-sizing:border-box;
  margin:16px 0;
  border:0;
  border-bottom: 2px solid black;
    padding:20px 40px;
  outline:none;
  /* color:#ddd; */
  color:black;
  transition:0.5s;
  /* background:black; */
  background-color: white;
}

.contact-form-text:focus{

}

textarea.contact-form-text{
  resize:none;
  height:120px;
}

.contact-form-btn{
  float:right;
  border:0;
  background:#34495e;
  color:#fff;
  padding: 12px 50px;
  border-radius:20px;
  cursor:pointer;
  transition:0.5s;


  margin-top:1rem;
  display:inline-block;
  padding:.9rem 3rem;
  font-size:1rem;
  color:rgb(255, 255, 255);
  background: #000000;
  cursor:pointer;
}

.contact-form-btn:hover{
  background:#2980b9;
}

.footer {
  position: absolute;
  top:510%;
  /* background-color: black; */
  background-color: #030708;
  text-align:center;
  width: 100%;
  border-top:.1rem solid #101114;

}


.footer .links{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  padding:1rem 0;
  gap:1rem;
}



.footer .links a{
padding:.7rem 2rem;
color:#fff;

font-size: 1rem;
}

.footer .links a:hover{

color:rgb(1, 196, 255);
}

.footer .credit{
font-size: 1rem;
color:#fff;
font-weight: lighter;
padding:1.5rem;
}

.footer .credit span{
color:var(--main-color);
}